click==6.7
cssmin==0.2.0
Flask==1.0.2
Flask-Assets==0.12
Flask-Login==0.4.1
flask-peewee==3.0.1
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
peewee==3.5.2
psycopg2-binary==2.7.5
pyaml==17.12.1
PyYAML==3.13
waitress==1.1.0
Werkzeug==0.14.1
wtf-peewee==3.0.0
WTForms==2.2.1
