body {
    background-color: #f7f0df;
    width: 100%;
    height: 100%;
}

body.modal-open .slideout-panel {
    transform: none !important;
    z-index: unset;
    will-change: unset;
}

#panel {
  padding-top: 50px;
}

.page-header {
    background-image: url('/static/images/banner-pnyx-green.svg');
    background-color: #c1e4a5;
    background-repeat: no-repeat;
    background-position: right 50%;
}

.page-header .semi-transparent {
    background-color: rgb(255, 255, 255, 0.95);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 3px;
}

.post-card .card-content-wrapper {
    position: relative;
    line-height: 1.5em;
    max-height: 7.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-card .card-content-wrapper:before {
  content:'';
  width:100%;
  height:100%;    
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(rgba(255,255,255,0) 6em, white);
}

.autocomplete {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow-y: scroll;
}

.card {
    border: none;
}

.card-body img {
    max-width: 100%;
    height: auto;
}

ul.autocomplete li {
    cursor: pointer;
}

ul.autocomplete li:hover {
    background-color: #F7F7F7;
}

ul.comment {
    border-left: 1px solid #CCC;
    padding-left: 1.5em;
}

ul.comment li {
    list-style: none;
    margin-left: 0;
}

.btn-link.btn-xs {
    font-size: .7rem;
    padding: .05rem .25rem;
    line-height: 1;
    border-radius: .1rem;
    cursor: pointer;
}

.register-frame .panel-left, .login-frame .panel-left {
    width: 156px;
    height: 100vh;
    background-image: url('/static/images/sidebar-pnyx-green.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.form-control.selectize-control {
    height: 38px;
}

.navbar-search-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.is-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wider-max {
    max-width: 1720px;
}

@media (min-width: 992px) {

    .lonely-column {
        max-width: 350px;
    }

}

.user-profile-pic {
    height: 80px;
    width: 80px;
    line-height: 100px;
    margin-bottom: -30px;
    border-radius: 5px;
    border: 3px solid #FFF;
}

.form-textarea {
    min-height: 200px;
}

.vote-counter {
    position: relative;
}

.vote-counter-info {
    transition: all .35s ease;
    position: absolute;
    margin-top: 0.5em;
    margin-left: -1em;
    opacity: 0;
    color: #000;
}

.vote-counter-info.downvote {
    color: red;
}

.vote-counter-info.show {
    opacity: 1;
    transform: translateX(-30px) rotate(360deg) scale(2.0);
}

.vote-counter-info.hide {
    opacity: 0;
}


#menu {
    display: none;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  padding-top: 71px;
  background-color: #FFF;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #f7f0df; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block!important;
}

#search-form input {
    background-image: url('/static/images/search-icon.png');
    background-color: #F1F1F1;
    background-repeat: no-repeat;
    background-position: 7px center;
    padding-left: 36px;
}

.select2-container .select2-selection--single {
    height: 36px;
}

.select2-container--default .select2-selection--single {
    background-color: #FFF!important;
    border-color: #BBB;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-top: 2.5px;
    padding-left: 15px;
    padding-right: 25px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    margin-right: 5px;
    height: 34px;
}

.select2-results {
    font-size: 10pt!important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 300px;
}

.nav-community-select {
    width: 100%;
}

.embed-responsive-login {
    min-height: 450px;
}


/*
 *  CSS Loader
 */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #F00;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  background: #dc2f20;
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  background: #eead00;
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  background: #09af38;
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  background: #2e74e7;
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}


.limit-markdown h1 {
  font-size: 1.5rem;
}
.limit-markdown h2 {
  font-size: 1.4rem;
}
.limit-markdown h3 {
  font-size: 1.3rem;
}
.limit-markdown h4 {
  font-size: 1.2rem;
}
.limit-markdown h5 {
  font-size: 1.1rem;
}
.limit-markdown h6 {
  font-size: 1.0rem;
}
.limit-markdown h7 {
  font-size: 0.9rem;
}
