body {
    background-color: #EEE;
    margin-top: 55px;
    width: 100%;
    height: 100%;
}

body.modal-open .slideout-panel {
    transform: none !important;
    z-index: unset;
    will-change: unset;
}

.autocomplete {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow-y: scroll;
}

.card-body img {
    max-width: 100%;
    height: auto;
}

ul.autocomplete li {
    cursor: pointer;
}

ul.autocomplete li:hover {
    background-color: #F7F7F7;
}

ul.comment {
    border-left: 1px solid #CCC;
    padding-left: 1.5em;
}

ul.comment li {
    list-style: none;
    margin-left: 0;
}

.btn-link.btn-xs {
    font-size: .7rem;
    padding: .05rem .25rem;
    line-height: 1;
    border-radius: .1rem;
    cursor: pointer;
}

.register-frame .panel-left, .login-frame .panel-left {
    width: 156px;
    height: 100vh;
    background-image: url('/static/images/sidebar-pnyx.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.form-control.selectize-control {
    height: 38px;
}

.navbar-search-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.is-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wider-max {
    max-width: 1720px;
}

@media (min-width: 992px) {

    .lonely-column {
        max-width: 350px;
    }

}

.user-profile-pic {
    height: 80px;
    width: 80px;
    line-height: 100px;
    margin-top: 15px;
    margin-bottom: -30px;
    border-radius: 5px;
    border: 3px solid #FFF;
}

.form-textarea {
    min-height: 200px;
}

.vote-counter {
    position: relative;
}

.vote-counter-info {
    transition: all .35s ease;
    position: absolute;
    margin-top: 0.5em;
    margin-left: -1em;
    opacity: 0;
    color: #000;
}

.vote-counter-info.downvote {
    color: red;
}

.vote-counter-info.show {
    opacity: 1;
    transform: translateX(-50px) rotate(360deg) scale(2.0);
}

.vote-counter-info.hide {
    opacity: 0;
}

.user-info-card {
    background-image: url('/static/images/sidebar-pnyx.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 45%;
}


#menu {
    display: none;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  padding-top: 57px;
  background-color: #FFF;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #EEE; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block!important;
}

#search-form input {
    background-image: url('/static/images/search-icon.png');
    background-repeat: no-repeat;
    background-position: 7px center;
    padding-left: 36px;
}

.select2-container .select2-selection--single {
    height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-top: 3.5px;
    padding-left: 15px;
    padding-right: 25px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    margin-right: 5px;
    height: 36px;
}

.select2-results {
    font-size: 10pt!important;
}

.nav-community-select {
    width: 100%;
}