<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="{% block meta_description %}For democracy!{% endblock %}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/solid.css" integrity="sha384-S2gVFTIn1tJ/Plf+40+RRAxBCiBU5oAMFUJxTXT3vOlxtXm7MGjVj62mDpbujs4C" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/brands.css" integrity="sha384-SYNjKRRe+vDW0KSn/LrkhG++hqCLJg9ev1jIh8CHKuEA132pgAz+WofmKAhPpTR7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/fontawesome.css" integrity="sha384-0b7ERybvrT5RZyD80ojw6KNKz6nIAlgOKXIcJ0CV7A6Iia8yt2y1bBfLBOwoc9fQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" integrity="sha256-xJOZHfpxLR/uhh1BwYFS5fhmOAdIRQaiOul5F/b7v3s=" crossorigin="anonymous" />
    
    {% assets "css_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    {% block extra_head %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js" integrity="sha256-t+zJ/g8/KXIJMjSVQdnibt4dlaDxc9zXr/9oNPeWqdg=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js" integrity="sha256-FA14tBI8v+/1BtcH9XtJpcNbComBEpdawUZA6BPXRVw=" crossorigin="anonymous"></script>

    {% block extra_scripts %}{% endblock %}
  </head>

  <body>
    
    <div id="menu">

      {% if current_user.is_authenticated %}
      <div class="d-flex align-items-center px-3 bg-white" style="height: 78px;">
        <i class="fas fa-user-circle fa-lg"></i>
        <div class="ml-3">
          <div class="nav_username text-primary font-weight-bold small">
            {{ current_user.username }}
          </div>
          <div class="small">
              <span class="porte-monnaie">{{ current_user.karma_count }}</span>
              <span class="karma">{% trans %}karma{% endtrans %}</span>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="container mt-3">
        <!-- select community -->
        <form action="#" method="get" class="w-100 mb-3" {% if community %}data-id="{{ community.id }}"{% endif %}>
          <select class="form-control nav-communitylist-select" style="width: 100%;" name="menu-communitylist-select" placeholder="{% trans %}Select a Community...{% endtrans %}">
            {% if community %}
              <option value="{{ community.name_with_prefix }}" selected="selected">{{ community.name_with_prefix }}</option>
            {% else %}
              <option value="" selected="selected">{% trans %}Frontpage{% endtrans %}</option>
            {% endif %}
          </select>
        </form>
      </div>

      <div class="list-group list-group-flush">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('user_page', user=current_user.username) }}" class="list-group-item list-group-item-action">{% trans %}My Profile{% endtrans %}</a>
        <a href="{{ url_for('submit') }}" class="list-group-item list-group-item-action">{% trans %}Create Post{% endtrans %}</a>
        {% else %}
        <a href="{{ url_for('login') }}" class="list-group-item list-group-item-action">{% trans %}Sign In{% endtrans %}</a>
        {% endif %}
      </div>

      <div class="list-group list-group-flush mt-5">
        <a href="{{ url_for('logout') }}" class="list-group-item list-group-item-action list-group-item-primary"">{% trans %}Sign Out{% endtrans %}</a>
      </div>

    </div>


    {% block body %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light main-nav" style="background-color: #FFF; border-bottom: 1px solid #CCC;">
    <div class="container-fluid">
    <div class="row flex-fill">
      <div class="col-2 col-lg-4 col-xl-4">
        <button class="btn btn-outline-light toggle-button d-lg-none" type="button"><img src="{{ url_for('static', filename='images/hamburger-menu-icon.svg') }}" height="25" alt="Menu"></button>

        <a class="navbar-brand d-none d-lg-block float-left" style="font-size: 1rem" href="{{ url_for('frontpage') }}">
          <img src="{{ url_for('static', filename='images/pnyx-with-text.svg') }}" height="25" alt="">
        </a>
        
        <!-- select community -->
        <form id="nav-communityslist" action="#" method="get" class="form-inline mr-3 d-none d-lg-flex" style="max-width: 240px;" {% if community %}data-id="{{ community.id }}"{% endif %}>
          <select class="form-control nav-communitylist-select w-100" name="nav-communitylist-select" placeholder="{% trans %}Select a Community...{% endtrans %}">
            {% if community %}
              <option value="{{ community.name_with_prefix }}" selected="selected">{{ community.name_with_prefix }}</option>
            {% else %}
              <option value="" selected="selected">{% trans %}Frontpage{% endtrans %}</option>
            {% endif %}
          </select>
        </form>
      </div>

      <div class="col">
        <form action="{{ url_for('search') }}" id="search-form" method="get" role="search" class="form-inline d-xl-flex">      
          <input class="form-control mr-sm-2 w-100" type="search" name="q" placeholder="{% trans %}Search{% endtrans %}" aria-label="Search" value="{% if search %}{{ search }}{% endif %}">
        </form>
      </div>

      <div class="col-2 col-lg-3 col-xl-4">
        <a class="navbar-brand float-right d-lg-none" style="margin-top: -3px;" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='images/pnyx.svg') }}" class="" height="25px" width="25px" alt="Pnyx">
        </a>

        <!-- user navigation -->
        <ul class="navbar-nav d-none d-lg-flex float-right my-auto">
          {% if not current_user.is_authenticated %}
          <li class="nav-item"><a href="{{ url_for('login') }}" class="is-login btn btn-outline-primary my-2 my-sm-0 mr-4 d-none d-xl-block">{% trans %}Sign In{% endtrans %}</a></li>
          <li class="nav-item"><a href="{{ url_for('register') }}" class="btn btn-primary my-2 my-sm-0 mr-4">{% trans %}Sign Up{% endtrans %}</a></li>
          {% endif %}

          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle is-flex py-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <table cellspacing="0" cellpadding="0" style="{% if current_user.is_authenticated %}min-width: 180px; height: 38px;{% endif %}"><!-- yes, it is 100 times easier -->
                <tbody>
                    <tr>
                    {% if current_user.is_authenticated %}
                        <td rowspan="2" class="pr-2" style="vertical-align: middle; width: 21px;">
                          <i class="fas fa-user-circle fa-lg"></i>
                        </td>
                        <td class="nav_username text-primary font-weight-bold" style="font-size: 13px; line-height: 14px; width: auto;">{{ current_user.username }}
                        </td>
                    </tr>
                    <tr>
                      <td style="font-size: 12px; line-height: 13px;">
                        <span class="porte-monnaie">{{ current_user.karma_count }}</span>
                        <span class="karma">{% trans %}karma{% endtrans %}</span>
                      </td>
                    {% else %}
                      <td style="height: 38px;"><i class="fas fa-user"></i></td>
                    {% endif %}
                    </tr>
                </tbody>
              </table>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="min-width: 230px;">
              {% if current_user.is_authenticated %}
              <a class="dropdown-item" href="{{ url_for('user_page', user=current_user.username) }}">{% trans %}My Profile{% endtrans %}</a>
              <a class="dropdown-item" href="{{ url_for('submit') }}">{% trans %}Create Post{% endtrans %}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('logout') }}">{% trans %}Sign Out{% endtrans %}</a>
              {% else %}
              <a class="dropdown-item is-login" href="{{ url_for('login') }}">{% trans %}Sign In{% endtrans %}</a>
              {% endif %}
            </div>
          </li>

        </ul>
      </div>

    </div>
    </div>
    </nav>

    <main id="panel">

    {#
    <div class="container">
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p>{{ message }}</p>
        </div>
      {% endfor %}
    </div>
    #}


    <div class="container-fluid bg-primary text-white mb-3">
      <div class="page-header row">
        {% block page_header %}{% endblock %}
      </div>
    </div>


      <div class="mt-4">
      {% block content %}{% endblock %}
      </div>

    </main>

    {% if not current_user.is_authenticated %}

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg h-100 d-flex flex-column justify-content-center my-0" role="document">
        <div class="modal-content">
          <div class="embed-responsive embed-responsive-login">
            <iframe class="embed-responsive-item" src="{{ url_for('login') }}"></iframe>
        </div>
      </div>
    </div>

    {% endif %}

    {% endblock body %}


      <script type="text/javascript">
        var panel_element = $('#panel');
        var menu_element = $('#menu');

        if(menu_element.length && panel_element.length) {
            var slideout = new Slideout({
              'panel': panel_element.get(0),
              'menu': menu_element.get(0),
              'padding': 256,
              'tolerance': 70
            });

            // Toggle button
            $('.toggle-button').on('click', function() {
              slideout.toggle();
            });
        }

        function momentify() {
          $('.timeago').each(function() {
            $(this).attr('data-timestamp', $(this).text());
            $(this).text(moment($(this).text()).fromNow());
          });
        }

        $(document).ready(function() {
          $('a.is-login').click(function(e) {
            e.preventDefault();
            $('#loginModal').modal('show');
          })

          $('.nav-communitylist-select').select2({
            ajax: {
              url: "{{ url_for('community_search') }}",
              dataType: 'json',
              delay: 250,
              data: function (params) {
                var query = {
                  q: params.term,
                }
                return query;
              },
              processResults: function (data) {
                return {
                  results: data.results
                };
              }
            }
          }).on('select2:select', function (e) {
            var data = e.params.data;
             if(data && data.id != undefined) {
              $(location).attr('href', '/' + data.id);
              }
          });

          momentify();

          {% if current_user.is_authenticated %}
            $(".porte-monnaie").on("amount", function(event) {
              var self = this;
              var jqxhr = $.get("{{ url_for('user_karma', user=current_user.username) }}", function(result) {
                $(self).text(result);
              }).fail(function() {        
              });
            });
          {% endif %}
        });

        {% block js %}{% endblock %}
      </script>
    </div>
  </body>
</html>
