<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="robots" content="noindex">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/solid.css" integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/hilite.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selectize.bootstrap4.css') }}">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pnyx.css') }}" />
    {% block extra_head %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/selectize.js') }}"></script>
    {% block extra_scripts %}{% endblock %}
  </head>

  <body>
    
    <div id="menu">
      <div class="container mt-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-row" style="height: 30px;">
              
              {% if current_user.is_authenticated %}
              <table cellspacing="0" cellpadding="0" style="height: 100%;">
                <tbody>
                    <tr>
                    {% if current_user.is_authenticated %}
                        <td rowspan="2" class="pr-2" style="vertical-align: middle; width: 21px;">
                          <i class="fas fa-user-circle fa-lg"></i>
                        </td>
                        <td class="nav_username text-dark font-weight-bold" style="font-size: 13px; line-height: 14px; width: auto;">{{ current_user.username }}
                        </td>
                    </tr>
                    <tr>
                      <td style="font-size: 12px; line-height: 13px;">
                        <span class="porte-monnaie">{{ current_user.karma_count }}</span>
                        <span class="karma">karma</span>
                      </td>
                    {% else %}
                      <td style="height: 38px;"><i class="fas fa-user"></i></td>
                    {% endif %}
                    </tr>
                </tbody>
              </table>
              {% endif %}
            </div>
          </div>
        </div>

        {% if current_user.is_authenticated %}
        <div class="btn-group-vertical w-100">
        <a href="{{ url_for('user_page', user=current_user.username) }}" class="btn btn-primary btn-block">My Profile</a>
        <a href="{{ url_for('submit') }}" class="btn btn-success btn-block">Create Post</a>
        </div>

        <a href="{{ url_for('logout') }}" class="btn btn-light btn-block mt-5">Sign Out</a>
        {% else %}
        <a href="{{ url_for('login') }}" class="btn btn-primary btn-block">Sign In</a>
        {% endif %}

      </div>
    </div>

    {% block body %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light main-nav" style="background-color: #FFF; border-bottom: 1px solid #CCC;">
    <div class="container-fluid">
    <div class="row flex-fill">
      <div class="col-2 col-lg-4 col-xl-4">
        <button class="btn btn-outline-light toggle-button d-lg-none"><img src="{{ url_for('static', filename='images/hamburger-menu-icon.svg') }}" height="25"></button>

        <a class="navbar-brand d-none d-lg-block float-left" style="font-size: 1rem" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='images/pnyx-with-text.svg') }}" height="25" alt="">
        </a>
        
        <!-- select community -->
        <form id="nav-communityslist" action="#" method="get" class="form-inline mr-3 d-none d-lg-flex" style="max-width: 300px;" {% if community %}data-id="{{ community.id }}"{% endif %}>
          <select class="form-control" style="width: 100%;" id="nav-communitylist-select" name="nav-communitylist-select" placeholder="Select a Community...">
            {% if community %}
              <option value="{{ community.name_with_prefix }}" selected="selected">{{ community.name_with_prefix }}</option>
            {% else %}
              <option value="c/all" selected="selected">c/all</option>
            {% endif %}
          </select>
        </form>
      </div>

      <div class="col">
        <form action="{{ url_for('search') }}" id="search-form" method="get" role="search" class="form-inline d-xl-flex">      
          <input class="form-control mr-sm-2 bg-light" style="width: 100%;" type="search" name="q" placeholder="Search" aria-label="Search" value="{% if search %}{{ search }}{% endif %}">
        </form>
      </div>

      <div class="col-2 col-lg-3 col-xl-4">
        <a class="navbar-brand float-right d-lg-none" style="margin-top: -3px;" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='images/pnyx.svg') }}" class="" height="25px" width="25px" alt="Pnyx">
        </a>

        <!-- user navigation -->
        <ul class="navbar-nav d-none d-lg-flex float-right my-auto">
          {% if not current_user.is_authenticated %}
          <li class="nav-item"><a href="{{ url_for('login') }}" class="btn btn-outline-primary my-2 my-sm-0 mr-4 d-none d-xl-block">Log In</a></li>
          <li class="nav-item"><a href="{{ url_for('register') }}" class="btn btn-primary my-2 my-sm-0 mr-4">Sign Up</a></li>
          {% endif %}

          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle is-flex py-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <table cellspacing="0" cellpadding="0" style="{% if current_user.is_authenticated %}min-width: 180px; height: 38px;{% endif %}"><!-- yes, it is 100 times easier -->
                <tbody>
                    <tr>
                    {% if current_user.is_authenticated %}
                        <td rowspan="2" class="pr-2" style="vertical-align: middle; width: 21px;">
                          <i class="fas fa-user-circle fa-lg"></i>
                        </td>
                        <td class="nav_username text-dark font-weight-bold" style="font-size: 13px; line-height: 14px; width: auto;">{{ current_user.username }}
                        </td>
                    </tr>
                    <tr>
                      <td style="font-size: 12px; line-height: 13px;">
                        <span class="porte-monnaie">{{ current_user.karma_count }}</span>
                        <span class="karma">karma</span>
                      </td>
                    {% else %}
                      <td style="height: 38px;"><i class="fas fa-user"></i></td>
                    {% endif %}
                    </tr>
                </tbody>
              </table>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="min-width: 230px;">
              {% if current_user.is_authenticated %}
              <a class="dropdown-item" href="{{ url_for('user_page', user=current_user.username) }}">My Profile</a>
              <a class="dropdown-item" href="{{ url_for('submit') }}">Create Post</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a>
              {% else %}
              <a class="dropdown-item" href="{{ url_for('login') }}">Log in</a>
              {% endif %}
            </div>
          </li>

        </ul>
      </div>

    </div>
    </div>
    </nav>

    <main id="panel">

    {#
    <div class="container">
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p>{{ message }}</p>
        </div>
      {% endfor %}
    </div>
    #}


    <div class="container-fluid bg-primary text-white mb-3">
      <div class="page-header row">
        {% block page_header %}{% endblock %}
      </div>
    </div>


      <div class="mt-3">
      {% block content %}{% endblock %}
      </div>

    </main>

    {% endblock body %}


      <script type="text/javascript">
        var panel_element = $('#panel');
        var menu_element = $('#menu');

        if(menu_element.length && panel_element.length) {
            var slideout = new Slideout({
              'panel': panel_element.get(0),
              'menu': menu_element.get(0),
              'padding': 256,
              'tolerance': 70
            });

            // Toggle button
            $('.toggle-button').on('click', function() {
              slideout.toggle();
            });
        }
          

        $(document).ready(function() {

          $('#nav-communitylist-select').selectize({
                valueField: 'name',
                labelField: 'name',
                searchField: 'name',
                sortField: 'name',
                create: false,
                options: [],
                persist: true,
                allowEmptyOption: true,
                maxOptions: 10,
                load: function(query, callback) {
                    if (!query.length) return callback();

                    $.ajax({
                        url: "{{ url_for('community_search') }}",
                        type: 'GET',
                        dataType: 'json',
                        data: {
                          query: query
                        },
                        error: function() {
                            callback();
                        },
                        success: function(res) {
                            callback(res.suggestions.slice(0, 10));
                        }
                    });
                },
                onChange: function(value) {
                  if(value) {
                    $(location).attr('href', '/' + value);  
                  }
                },
            });


          $('.timeago').each(function() {
            $(this).attr('data-timestamp', $(this).text());
            $(this).text(moment($(this).text()).fromNow());
          });

          {% if current_user.is_authenticated %}
            $(".porte-monnaie").on("amount", function(event) {
              var self = this;
              var jqxhr = $.get("{{ url_for('user_karma', user=current_user.username) }}", function(result) {
                $(self).text(result);
              }).fail(function() {        
              });
            });
          {% endif %}
        });
        {% block js %}{% endblock %}
      </script>
    </div>
  </body>
</html>
