{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block page_header %}
<div class="col mx-auto wider-max">
  <h3 class="pt-3 pb-3 my-2">
    <span class="semi-transparent">
  	 <a class="text-primary" href="{{ url_for('community', community=community.name) }}">c/{{ entry.community.name }}</a>
    </span>
  </h3>
</div>
{% endblock %}

{% block content %}

<div class="row mx-auto wider-max">

	<div class="col-lg">
		<div class="card mb-3">
			<div class="card-body" style="margin-left: 40px">
				<div class="float-left" style="margin-left: -50px; width: 40px; text-align: center;">
					<div>
						<a class="vote-btn" href="{{ url_for('proposal_upvote', slug=entry.slug) }}"><i class="fas fa-arrow-alt-circle-up"></i></a>
					</div>
					<div><span class="vote-counter" style="font-size: 8pt;">{{ entry.votes }}</span></div>
					<div>
						<a class="vote-btn" href="{{ url_for('proposal_downvote', slug=entry.slug) }}"><i class="fas fa-arrow-alt-circle-down"></i></a>
					</div>
				</div>

                {% if entry.author_id == current_user.id %}
                <div class="float-right">
                    <a href="{{ url_for('post_edit', slug=entry.slug) }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>
                </div>
                {% endif %}

                <span style="font-size: 80%;" class="card-text text-primary">
                {% trans %}Posted by{% endtrans %} <a class="text-primary font-weight-bold" href="{{ url_for('user_page', user=entry.author.username) }}">{{ entry.author.username_with_prefix }}</a>
                    <span class="timeago">{{ entry.timestamp.strftime('%Y-%m-%d %H:%M') }}</span>
                    {% if entry.modified %}
                    | <span class="badge badge-info">{% trans %}Modified{% endtrans%} <span class="timeago">{{ entry.modified.strftime('%Y-%m-%d %H:%M') }}</span></span>
                {% endif %}
                </span>
				
				<h4 class="card-title">{{ entry.title }}</h4>
				
				{{ entry.html_content }}

				<div style="text-align: right">
					<h6 class="card-text text-muted" >{{ entry.vote_percent }}</h6>
				</div>

				<hr>

				<form id="new_comment" action="{{ url_for('submit_comment') }}" class="form-horizontal" method="post">
					<input type="hidden" name="slug" value="{{ entry.slug }}">
					<input type="hidden" name="parent" value="">
					<div class="form-group">
	            		<textarea class="form-control" style="height: 150px;" id="content" name="content" placeholder="What are your thoughts?"></textarea>
	          		</div>
					<div class="text-right mb-3">
						<button class="btn btn-success">{% trans %}Comment{% endtrans %}</button>
					</div>
				</form>
			</div>
		</div>

		<div class="card mb-3">
			<div id="reply-loc" style="display: none;">
				<form id="new_reply_template" action="{{ url_for('submit_comment') }}" class="form-horizontal" method="post">
					<input type="hidden" name="slug" value="{{ entry.slug }}">
					<input type="hidden" name="parent" value="">
					<div class="form-group">
	            		<textarea class="form-control" style="height: 150px;" name="content" placeholder="What are your thoughts?"></textarea>
	          		</div>
					<div class="text-right mb-3">
						<button class="btn btn-success">{% trans %}Comment{% endtrans %}</button>
					</div>
				</form>
			</div>
			<div id="comments" class="card-body">
				{% include 'includes/comments.html' %}

                {% if entry.num_remaining_comments > 0 %}
                <button id="btn-load-comments" class="btn btn-link">{{ entry.num_remaining_comments }} {% trans %}more replies{% endtrans %}</button>
                <div id="load-more-comments" class="d-none">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
                {% endif %}
			</div>
		</div>
	</div>

	<div class="col-lg-4 lonely-column">
     <div class="card mb-3">
      <div class="card-header">
        <h6 class="card-title mb-0">{% trans %}Community Details{% endtrans %}</h6>
      </div>
      <div class="card-body">
        <h5 class="mb-3 font-weight-bold">
            {% if community != None %}{{ community.name_with_prefix }}{% else %}c/new{% endif %}
        </h5>
        <div class="card-text" style="word-wrap:break-word;">
          {% if community %}
          <div class="mb-3">
          <h6>{{ community.user_count }}</h6>
          <span class="small">Subscribers</span>
          </div>
          {% endif %}

          {% if community != None %}{{ community.description }}{% else %}The most active posts from all of Pnyx. Come here to see new posts rising and be a part of the conversation.{% endif %}
        </div>
        <br>

        {% if community %}

          {% if not community.current_user_subscribed %}
          <a href="{{ url_for('community_subscribe', community=community.name) }}" class="btn btn-primary btn-block">{% trans %}Subscribe{% endtrans %}</a>
          {% endif %}
          <a href="{{ url_for('submit', community=community.name) }}" class="btn btn-success btn-block">{% trans %}Create Post{% endtrans %}</a>
          {% else %}
          <a href="{{ url_for('submit') }}" class="btn btn-success btn-block">{% trans %}Create Post{% endtrans %}</a>
        {% endif %}
        
      </div>
     </div>

     <div class="card mb-3">
      <div class="card-header">
        <h6 class="card-title mb-0">{% trans %}Community Rules{% endtrans %}</h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">1.1. No hate</li>
        <li class="list-group-item">2.2. Keep things SFW</li>
        <li class="list-group-item">3.3. No Advertising</li>
      </ul>
      
     </div>

     {% include "side_footer.html" %}

	</div>
</div>
{% endblock %}

{% block js %}
$('document').ready(function() {
    function vote_btn() {
        $('a.comment-vote-btn').each(function(item) {
            var self = this;
            var target = $(this).attr('href');

            $(this).data('target', target);
            $(this).attr('href', '#');

            $(this).click(function(e) {
                e.preventDefault();

                var jqxhr = $.getJSON($(self).data('target'), function(result) {
                    if(result && result.error && result.code == 401) {
                      $('#loginModal').modal('show');
                      return;
                    }

                    var vote_counter = $(self).closest('ul.comment').find('span.comment-score:first');
                    vote_counter.text(result.score);

                    var element = $('<span class="vote-counter-info small">'+result.diff+'</span>').appendTo($(self));
                    element.focus();
                    element.toggleClass('show');
                    if(parseInt(result.diff) < 0) {
                      element.addClass('downvote');
                    }

                    setTimeout(function() {
                      element.toggleClass('hide');
                      setTimeout(function() {
                        element.remove();
                      }, 300);
                    }, 500);

                    $('#porte-monnaie').trigger('amount');
                }).fail(function() {
                    
                });
            });
        });
    }

    vote_btn();

    $('#btn-load-comments').click(function(e) {
        e.preventDefault();

        $('#load-more-comments').removeClass('d-none');
        $(this).hide();

        $.ajax({
            url: '{{ url_for('all_comments_for_post', slug=entry.slug) }}'
        }).done(function(reply) {
            $('#comments').html(reply);

            momentify();
        });
    });

	$('button.btn-reply').click(function(e) {
		e.preventDefault();
		var comment_area = $(this).parent().siblings().filter('.comment-area');
		if(comment_area.children().length) {
			comment_area.children().remove();
		} else {
			var ta = $('#new_reply_template')
				.clone()
				.appendTo($(this).parent().siblings().filter('.comment-area'))
				.addClass('mt-3');
			ta.find('input[name=parent]').val($(this).data('id'));
		}
	});

	

	$('a.vote-btn').each(function(item) {
		var self = this;
		var target = $(this).attr('href');
		$(this).data('target', target);

		$(this).attr('href', '#');
		$(this).click(function(e) {
			e.preventDefault();

			var jqxhr = $.getJSON($(self).data('target'), function(result) {
                if(result && result.error && result.code == 401) {
                  $('#loginModal').modal('show');
                  return;
                }

		        var vote_counter = $(self).parent().parent().find('span.vote-counter')
		        vote_counter.text(result.votes);

		        var element = $('<span class="vote-counter-info">'+result.diff+'</span>').appendTo(vote_counter);
		        element.focus();
		        element.toggleClass('show');
		        if(parseInt(result.diff) < 0) {
		          element.addClass('downvote');
		        }

		        setTimeout(function() {
		          element.toggleClass('hide');
		          setTimeout(function() {
		            element.remove();
		          }, 300);
		        }, 500);

				$('#porte-monnaie').trigger('amount');
			}).fail(function() {
				
			});
		});
	});
});
{% endblock %}