{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block page_header %}
<div class="container-fluid" style="max-width: 1720px;">
  <h2 class="pt-3 pb-3">
  	<a class="text-light" href="{{ url_for('community', community=community.name) }}">c/{{ entry.community.name }}</a>
  </h2>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid" style="max-width: 1720px;">
<div class="row">

	<div class="col-md">
		<div class="card mb-3">
			<div class="card-body" style="margin-left: 40px">
				<div style="float: left; margin-left: -50px; width: 40px; text-align: center;">
					<div>
						<a class="vote-btn" href="{{ url_for('proposal_upvote', slug=entry.slug) }}"><i class="fas fa-arrow-alt-circle-up"></i></a>
					</div>
					<div><span class="vote-counter" style="font-size: 8pt;">{{ entry.votes }}</span></div>
					<div>
						<a class="vote-btn" href="{{ url_for('proposal_downvote', slug=entry.slug) }}"><i class="fas fa-arrow-alt-circle-down"></i></a>
					</div>
				</div>

				<h7 class="card-text text-muted" style="font-size: 8pt;">
					Posted by <a class="text-muted" href="{{ url_for('user_page', user=entry.author.username) }}">{{ entry.author.username_with_prefix }}</a>
					<span class="timeago">{{ entry.timestamp.strftime('%Y-%m-%d %H:%M') }}</span>
				</h7>
				
				<h4 class="card-title">{{ entry.title }}</h4>
				
				{{ entry.html_content }}

				<div style="text-align: right">
					<h6 class="card-text text-muted" >{{ entry.vote_percent }}</h6>
				</div>

				<hr>

				<form id="new_comment" action="{{ url_for('submit_comment') }}" class="form-horizontal" method="post">
					<input type="hidden" name="slug" value="{{ entry.slug }}">
					<input type="hidden" name="parent" value="">
					<div class="form-group">
	            		<textarea class="form-control" style="height: 150px;" id="content" name="content" placeholder="What are your thoughts?"></textarea>
	          		</div>
					<div class="text-right mb-3">
						<button class="btn btn-success">Comment</button>
					</div>
				</form>
			</div>
		</div>
		<div class="card mb-3">
			<div id="reply-loc" style="display: none;">
				<form id="new_reply_template" action="{{ url_for('submit_comment') }}" class="form-horizontal" method="post">
					<input type="hidden" name="slug" value="{{ entry.slug }}">
					<input type="hidden" name="parent" value="">
					<div class="form-group">
	            		<textarea class="form-control" style="height: 150px;" name="content" placeholder="What are your thoughts?"></textarea>
	          		</div>
					<div class="text-right mb-3">
						<button class="btn btn-success">Comment</button>
					</div>
				</form>
			</div>
			<div id="comments" class="card-body">
				{% for key, reply in entry.comments.items() recursive %}
				<ul class="comment" style="position: relative;">
					<li class="mb-4">
						<div style="float: left; left: -8px; position: absolute; width: 16px; text-align: center; background-color: #FFF;">
							<a class="comment-vote-btn" href="{{ url_for('comment_upvote', slug=entry.slug, comment_id=reply.id) }}"><i class="fas fa-arrow-alt-circle-up"></i></a>
							<a class="comment-vote-btn" href="{{ url_for('comment_downvote', slug=entry.slug, comment_id=reply.id) }}"><i class="fas fa-arrow-alt-circle-down"></i></a>
						</div>

						<h6 class="small text-muted">
							<a href="{{ url_for('user_page', user=reply.username) }}">{{ reply.username }}</a> | 
							<span class="timeago">{{ reply.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</span> |
							Points: <span class="comment-score">{{ reply.score }}</span>
						</h6>
						<div class="card-text">
							{{ reply.content }}
						</div>
						<div class="comment-area"></div>
						<div class="comment-toolbar small">
							<button type="button" data-id="{{ reply.id }}" class="btn btn-xs btn-link btn-reply text-muted"><i class="fas fa-comment-alt"></i> Reply</button>
							<button type="button" class="btn btn-xs btn-link btn-share text-muted">Share</button>
							<button type="button" class="btn btn-xs btn-link btn-report text-muted">Report</button>
						</div>
					</li>
					{%- if reply.comments %}
					{{ loop(reply.comments.items()) }}
					{%- endif %}
				</ul>
				{% else %}
				<div class="card-text">No comments, so far.</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="col-md-4 col-lg-3">
     <div class="card mb-3">
      <div class="card-header">
        <h6 class="card-title mb-0">Community Details</h6>
      </div>
      <div class="card-body">
        <h6 class="mb-3">c/{% if community != None %}{{ community.name }}{% else %}all{% endif %}</h6>
        <div class="card-text" style="word-wrap:break-word;">
          {% if community %}
          <div class="mb-3">
          <h6>{{ community.user_count }}</h6>
          <span class="small">Subscribers</span>
          </div>
          {% endif %}

          {% if community != None %}{{ community.description }}{% else %}The most active posts from all of Pnyx. Come here to see new posts rising and be a part of the conversation.{% endif %}
        </div>
        <br>

        {% if community %}

          {% if not community.current_user_subscribed %}
          <a href="{{ url_for('community_subscribe', community=community.name) }}" class="btn btn-primary btn-block">Subscribe</a>
          {% endif %}
          <a href="{{ url_for('submit', community=community.name) }}" class="btn btn-success btn-block">Create Post</a>
          {% else %}
          <a href="{{ url_for('submit') }}" class="btn btn-success btn-block">Create Post</a>
        {% endif %}
        
      </div>
     </div>

     <div class="card mb-3">
      <div class="card-header">
        <h6 class="card-title mb-0">Community Rules</h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">1.1. No hate</li>
        <li class="list-group-item">2.2. Keep things SFW</li>
        <li class="list-group-item">3.3. No Advertising</li>
      </ul>
      
     </div>

     {% include "side_footer.html" %}



	</div>
</div>
</div>
{% endblock %}

{% block js %}
$('document').ready(function() {
	$('button.btn-reply').click(function(e) {
		e.preventDefault();

		var comment_area = $(this).parent().siblings().filter('.comment-area');
		if(comment_area.children().length) {
			comment_area.children().remove();
		} else {

			var ta = $('#new_reply_template')
				.clone()
				.appendTo($(this).parent().siblings().filter('.comment-area'))
				.addClass('mt-3');

			ta.find('input[name=parent]').val($(this).data('id'));

		}
	});

	$('a.comment-vote-btn').each(function(item) {
		var self = this;
		var target = $(this).attr('href');
		$(this).data('target', target);

		$(this).attr('href', '#');
		$(this).click(function(e) {
			e.preventDefault();

			var jqxhr = $.getJSON($(self).data('target'), function(result) {
				var vote_counter = $(self).closest('ul.comment').find('span.comment-score:first');
        		vote_counter.text(result.score);

		        var element = $('<span class="vote-counter-info small">'+result.diff+'</span>').appendTo($(self));
		        element.focus();
		        element.toggleClass('show');
		        if(parseInt(result.diff) < 0) {
		          element.addClass('downvote');
		        }

		        setTimeout(function() {
		          element.toggleClass('hide');
		          setTimeout(function() {
		            element.remove();
		          }, 300);
		        }, 500);

				$('#porte-monnaie').trigger('amount');
			}).fail(function() {
				
			});
		});
	});

	$('a.vote-btn').each(function(item) {
		var self = this;
		var target = $(this).attr('href');
		$(this).data('target', target);

		$(this).attr('href', '#');
		$(this).click(function(e) {
			e.preventDefault();

			var jqxhr = $.getJSON($(self).data('target'), function(result) {
		        var vote_counter = $(self).parent().parent().find('span.vote-counter')
		        vote_counter.text(result.votes);

		        var element = $('<span class="vote-counter-info">'+result.diff+'</span>').appendTo(vote_counter);
		        element.focus();
		        element.toggleClass('show');
		        if(parseInt(result.diff) < 0) {
		          element.addClass('downvote');
		        }

		        setTimeout(function() {
		          element.toggleClass('hide');
		          setTimeout(function() {
		            element.remove();
		          }, 300);
		        }, 500);

				$('#porte-monnaie').trigger('amount');
			}).fail(function() {
				
			});
		});
	});
});
{% endblock %}