{% extends "base.html" %}

{% block meta_description %}
{% trans %}Pnyx: Civil discussions{% endtrans %}
{% endblock %}

{% block title %}
{% trans %}Frontpage{% endtrans %}
{% endblock %}

{% block js %}
{% endblock %}

{% block page_header %}
<div class="container">
  <h3 class="pt-3 pb-3 my-2">
    <span class="semi-transparent">    
      <span class="text-primary">{% trans %}Frontpage{% endtrans %}</span>
    </span>
  </h3>
</div>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="card shadow-sm mb-4">
        <div class="card-body pb-0 d-flex align-items-center">
          
          <h6 class="card-title mb-0">
            {% trans %}f/frontpage{% endtrans %}
          </h6>
                 
        </div>
        <div class="card-body">
          <div class="card-text" style="word-wrap:break-word;">
            {% trans %}Welcome!{% endtrans %}
          </div>
          
        </div>
      </div>

      <h4 class="ml-3">
        
      </h4>

      {% include "includes/post-object-list.html" %}

      {% include "includes/pagination.html" %}
    </div>
  </div>  
</div>
{% endblock %}

