{% extends "base.html" %}

{% block title %}
c/{% if community %}{{ community.name }}{% else %}new{% endif %}
{% endblock %}

{% block page_header %}
<div class="container semi-transparent">
  <h2 class="pt-3 pb-3">
    {% if community %}
    <a class="text-primary" href="{{ url_for('community', community=community.name) }}">c/{{ community.name }}</a>
    {% else %}
    <span class="text-primary">c/{% if community != None %}{{ community.name }}{% else %}new{% endif %}</span>
    {% endif %}
  </h2>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
  <div class="col-md-8">
  {% for entry in object_list %}
    {% if entry.published %}
    <div class="card" style="margin-bottom: 1em;">
      <div class="card-body" style="margin-left: 40px;">
        <div style="float: left; margin-left: -50px; width: 40px; text-align: center;">
            <div>
              <a class="vote-btn" href="{{ url_for('proposal_upvote', slug=entry.slug) }}"><i class="fas fa-arrow-alt-circle-up"></i></a>
            </div>
            <div><span class="vote-counter" style="font-size: 8pt;">{{ entry.votes }}</span></div>
            <div>
              <a class="vote-btn" href="{{ url_for('proposal_downvote', slug=entry.slug) }}"><i class="fas fa-arrow-alt-circle-down"></i></a>
            </div>
        </div>

        <div>
          {% if community == None %}
          <h7 class="card-text" style="float: left;">
            <a href="{{ url_for('community', community=entry.community.name) }}">
              c/{{ entry.community.name }}
            </a>
          </h7>
          <h7 class="card-text text-dark" style="float: left;">&nbsp;•&nbsp;</h7>
          {% endif %}
          <h7 class="card-text text-dark" style="font-size: 8pt;">
            Posted by <a class="text-dark" href="{{ url_for('user_page', user=entry.author.username) }}">{{ entry.author.username_with_prefix }}</a>
            <span class="timeago">{{ entry.timestamp.strftime('%Y-%m-%d %H:%M') }}</span>
          </h7>
        </div>

        <h4 class="card-title">
          <a href="{{ url_for('detail', slug=entry.slug, community=entry.community.name) }}" class="text-primary">
            {{ entry.title }}
          </a>
        </h4>
        <div class="card-text">
          {{ entry.html_content|truncate(220, True) }}
        </div>

        <div class="card-text">
          <a class="small text-dark" href="{{ url_for('detail', slug=entry.slug, community=entry.community.name) }}#comments">
            <i class="fas fa-comment-alt"></i>
            {{ entry.comment_count }} Comments</a>
            {# &nbsp;&nbsp; <i class="fas fa-share"></i> Share #}
        </div>
      </div>
    </div>
    {% endif %}
  {% else %}
    <p>No entries have been created yet.</p>
  {% endfor %}

  {% include "includes/pagination.html" %}

  </div>
  <div class="col-md-4">
     <div class="card mb-3">
      <div class="card-header">
        <h6 class="card-title mb-0">Community Details</h6>
      </div>
      <div class="card-body">
        <h6 class="mb-3">
          c/{% if community != None %}{{ community.name }}{% else %}new{% endif %}
        </h6>
        <div class="card-text" style="word-wrap:break-word;">
          {% if community and community.maintainer_id != None %}
          <div class="mb-3">
          <h6>{{ community.user_count }}</h6>
          <span class="small">Subscribers</span>
          </div>
          {% endif %}

          {% if community != None %}
            {{ community.description }}
          {% else %}
            The newest posts from all of Pnyx. Come here to see posts rising and be a part of the conversation.
          {% endif %}
        </div>
        <br>

        {% if community and community.maintainer_id != None %}
          {% if not community.current_user_subscribed %}
          <a href="{{ url_for('community_subscribe', community=community.name) }}" class="btn btn-primary btn-block">Subscribe</a>
          {% endif %}
          <a href="{{ url_for('submit', community=community.name) }}" class="btn btn-success btn-block">Create Post</a>
          {% else %}
          <a href="{{ url_for('submit') }}" class="btn btn-success btn-block">Create Post</a>
        {% endif %}
        
      </div>
     </div>

     <div class="card mb-3">
      <div class="card-header">
        <h6 class="card-title mb-0">Community Rules</h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">1.1. No hate</li>
        <li class="list-group-item">2.2. Keep things SFW</li>
        <li class="list-group-item">3.3. No Advertising</li>
      </ul>
      
     </div>

     {% include "side_footer.html" %}
  </div>
  </div>  
</div>
{% endblock %}

{% block js %}
$('document').ready(function() {
  $('a.vote-btn').each(function(item) {
    var self = this;
    var target = $(this).attr('href');
    $(this).data('target', target);

    $(this).attr('href', '');
    $(this).click(function(e) {
      var self = $(this);
      e.preventDefault();

      var jqxhr = $.getJSON($(self).data('target'), function(result) {
        var vote_counter = $(self).parent().parent().find('span.vote-counter')
        vote_counter.text(result.votes);

        var element = $('<span class="vote-counter-info">'+result.diff+'</span>').appendTo(vote_counter);
        element.focus();
        element.toggleClass('show');
        if(parseInt(result.diff) < 0) {
          element.addClass('downvote');
        }

        setTimeout(function() {
          element.toggleClass('hide');
          setTimeout(function() {
            element.remove();
          }, 300);
        }, 500);

        $('#porte-monnaie').trigger('amount');
      }).fail(function() {
        console.log("REQ failed");
      });
    });
  });
});
{% endblock %}
