{% extends "base.html" %}

{% if community %}
{% block meta_description %}
{{ community.name_with_prefix }}: {{ community.description }}
{% endblock %}
{% endif %}

{% block title %}
{% if community %}{{ community.name_with_prefix }}{% else %}f/new{% endif %}
{% endblock %}

{% block page_header %}
<div class="container">
  <h3 class="pt-3 pb-3 my-2">
    <span class="semi-transparent">
    {% if community %}
    <a class="text-primary" href="{{ url_for('community', community=community.name) }}">c/{{ community.name }}</a>
    {% else %}
    <span class="text-primary">{% if community != None %}c/{{ community.name }}{% else %}f/new{% endif %}</span>
    {% endif %}
    </span>
  </h3>
</div>
{% endblock %}

{% block js %}

{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
  <div class="col-md-8">

  {% include "includes/post-object-list.html" %}

  {% include "includes/pagination.html" %}

  </div>
  <div class="col-md-4">
     <div class="card mb-3">
      <div class="card-header">
        <h6 class="card-title mb-0">{% trans %}Community Details{% endtrans %}</h6>
      </div>
      <div class="card-body">
        <h5 class="mb-3 font-weight-bold">
          {% if community != None %}{{ community.name_with_prefix }}{% else %}f/new{% endif %}
        </h5>
        <div class="card-text" style="word-wrap:break-word;">
          {% if community and community.maintainer_id != None %}
          <div class="mb-3">
          <h6>{{ community.user_count }}</h6>
          <span class="small">{% trans %}Subscribers{% endtrans %}</span>
          </div>
          {% endif %}

          {% if community != None %}
            {{ community.description }}
          {% else %}
            {% trans %}The newest posts from all of Pnyx. Come here to see posts rising and be a part of the conversation.{% endtrans %}
          {% endif %}
        </div>
        <br>

        {% if community and community.maintainer_id != None %}
          {% if not community.current_user_subscribed %}
          <a href="{{ url_for('community_subscribe', community=community.name) }}" class="btn btn-primary btn-block">{% trans %}Subscribe{% endtrans %}</a>
          {% endif %}
          <a href="{{ url_for('submit', community=community.name) }}" class="btn btn-success btn-block">{% trans %}Create Post{% endtrans %}</a>
          {% else %}
          <a href="{{ url_for('submit') }}" class="btn btn-success btn-block">{% trans %}Create Post{% endtrans %}</a>
        {% endif %}
        
      </div>
     </div>

     <div class="card mb-3">
      <div class="card-header">
        <h6 class="card-title mb-0">{% trans %}Community Rules{% endtrans %}</h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">1.1. No hate</li>
        <li class="list-group-item">2.2. Keep things SFW</li>
        <li class="list-group-item">3.3. No Advertising</li>
      </ul>
      
     </div>

     {% include "side_footer.html" %}
  </div>
  </div>  
</div>
{% endblock %}

