{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block page_header %}
<div class="col mx-auto wider-max">
  <h3 class="pt-3 pb-3 my-2">
    <span class="semi-transparent">
  	 <a class="text-primary" href="{{ url_for('community', community=community.name) }}">{{ entry.community.name_with_prefix }}</a>
    </span>
  </h3>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    	<div class="col-lg-12">
            <!-- edit control -->

            <div class="mb-2 d-flex">
                <a href="{{ url_for('community', community=entry.community.name) }}" class="btn btn-primary mr-auto">
                    <i class="fas fa-fw fa-lg fa-chevron-left"></i>
                </a>

            {% if entry.history.count() %}
                <a href="{{ url_for('post_revisions', community=community.name, slug=entry.slug) }}" class="btn btn-secondary">
                    <i class="fas fa-sm fa-fw fa-file-alt"></i>
                    {% trans %}Revisions{% endtrans %}
                </a>
            {% endif %}
            {% if entry.author_id == current_user.id %}
                <a href="{{ url_for('post_edit', slug=entry.slug) }}" class="btn btn-secondary ml-2">
                    <i class="fas fa-sm fa-fw fa-pencil-alt"></i>
                    {% trans %}Edit{% endtrans %}
                </a>
            {% endif %}
            </div>

    		<div class="card shadow-sm mb-3">
    			<div class="card-body" style="margin-left: 40px">
    				<div class="float-left" style="margin-left: -50px; width: 40px; text-align: center;">
    					<div>
    						<a class="vote-btn" href="{{ url_for('proposal_upvote', slug=entry.slug) }}"><i class="fas fa-arrow-alt-circle-up"></i></a>
    					</div>
    					<div>
                            <span class="vote-counter" style="font-size: 8pt;">{{ entry.votes }}</span>
                        </div>
    					<div>
    						<a class="vote-btn" href="{{ url_for('proposal_downvote', slug=entry.slug) }}"><i class="fas fa-arrow-alt-circle-down"></i></a>
    					</div>
    				</div>
    				
    				<h4 class="card-title">
                        {{ entry.title }}
                    </h4>
    				
    				{{ entry.html_content }}

                    <!-- post info -->
                    <span style="font-size: 80%;" class="card-text text-primary">
                    {% trans %}Posted by{% endtrans %} <a class="text-primary font-weight-bold" href="{{ url_for('user_page', user=entry.author.username) }}">{{ entry.author.username_with_prefix }}</a>
                        <span class="timeago">{{ entry.timestamp.strftime('%Y-%m-%d %H:%M') }}</span>
                        {% if entry.modified %}
                        | <span>{% trans %}Modified{% endtrans%} <span class="timeago">{{ entry.modified.strftime('%Y-%m-%d %H:%M') }}</span></span>
                        {% endif %}
                    </span>
    			</div>

                <div class="card-body py-0">
                    <span class="card-text text-muted" >{{ entry.vote_percent }}</span>
                </div>

                {% if entry.vote_options %}
                    <hr>
                    <div class="card-body py-0">
                        <h5>{% trans %}Vote{% endtrans %}</h5>
                        <ul class="list-group">
                        {% for option in entry.vote_options_list %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"">
                                <span>
                                <button type="button" class="btn btn-light mr-2 btn-int-vote" data-vote="{{ option.title }}"><i class="fas fa-check"></i></button>
                                {{ option.title }}
                                </span>
                                <span>
                                    <div class="progress d-inline-flex" style="height: 5px; width: 100px; transform: scaleX(-1); -webkit-transform: scaleX(-1); -o-transform: scaleX(-1); -moz-transform: scaleX(-1);";>
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ option.percentage }}%;" aria-valuenow="{{ option.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="badge badge-light badge-pill">{{ option.value }}</span>
                                </span>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <hr class="mb-0">

                <div class="py-0 pt-1 px-1">
                    <form id="new_comment" action="{{ url_for('submit_comment') }}" class="form-horizontal" method="post">
                        <input type="hidden" name="slug" value="{{ entry.slug }}">
                        <input type="hidden" name="parent" value="">
                        <div class="form-group m-0">
                            <textarea class="form-control" style="background: #F7F7F7; height: 150px;" id="content" name="content" placeholder="{% trans %}What are your thoughts?{% endtrans %}"></textarea>
                        </div>
                        <div class="text-right my-1">
                            <button class="btn btn-success">{% trans %}Comment{% endtrans %}</button>
                        </div>
                    </form>
                </div>
    		</div>

    		<div class="card shadow-sm mb-3">
    			<div id="reply-loc" style="display: none;">
    				<form id="new_reply_template" action="{{ url_for('submit_comment') }}" class="form-horizontal" method="post">
    					<input type="hidden" name="slug" value="{{ entry.slug }}">
    					<input type="hidden" name="parent" value="">
    					<div class="form-group">
    	            		<textarea class="form-control" style="height: 150px;" name="content" placeholder="{% trans %}What are your thoughts?{% endtrans %}"></textarea>
    	          		</div>
    					<div class="text-right mb-3">
    						<button class="btn btn-success">{% trans %}Comment{% endtrans %}</button>
    					</div>
    				</form>
    			</div>
    			<div id="comments" class="card-body">
    		        {% include 'includes/comments.html' %}
    			</div>
    		</div>
    	</div>
    </div>
</div>
{% endblock %}


{% block js %}
$('document').ready(function() {
    function vote_btn() {
        $('a.comment-vote-btn').each(function(item) {
            var self = this;
            var target = $(this).attr('href');

            $(this).data('target', target);
            $(this).attr('href', '#');

            $(this).click(function(e) {
                e.preventDefault();

                var jqxhr = $.getJSON($(self).data('target'), function(result) {
                    if(result && result.error && result.code == 401) {
                      $('#loginModal').modal('show');
                      return;
                    }

                    var vote_counter = $(self).closest('ul.comment').find('span.comment-score:first');
                    vote_counter.text(result.score);

                    var element = $('<span class="vote-counter-info small">'+result.diff+'</span>').appendTo($(self));
                    element.focus();
                    element.toggleClass('show');
                    if(parseInt(result.diff) < 0) {
                      element.addClass('downvote');
                    }

                    setTimeout(function() {
                      element.toggleClass('hide');
                      setTimeout(function() {
                        element.remove();
                      }, 300);
                    }, 500);

                    $('#porte-monnaie').trigger('amount');
                }).fail(function() {
                    
                });
            });
        });
    }

    vote_btn();

    $('.btn-int-vote').click(function(e) {
        e.preventDefault();

        $.getJSON({
            url: '{{ url_for('proposal_intvote', slug=entry.slug) }}',
            method: 'POST',
            data: {vote: $(this).data('vote')}
        }).done(function(reply) {
            if(reply && reply.error && reply.code == 401) {
                $('#loginModal').modal('show');
                return;
            }

            window.location.reload();
        });        
    });


    $('#btn-load-comments').click(function(e) {
        e.preventDefault();

        $('#load-more-comments').removeClass('d-none');
        $(this).hide();

        $.ajax({
            url: '{{ url_for('all_comments_for_post', slug=entry.slug) }}'
        }).done(function(reply) {
            $('#comments').html(reply);

            momentify();
        });
    });

	$('button.btn-reply').click(function(e) {
		e.preventDefault();
		var comment_area = $(this).parent().siblings().filter('.comment-area');
		if(comment_area.children().length) {
			comment_area.children().remove();
		} else {
			var ta = $('#new_reply_template')
				.clone()
				.appendTo($(this).parent().siblings().filter('.comment-area'))
				.addClass('mt-3');
			ta.find('input[name=parent]').val($(this).data('id'));
		}
	});

	$('a.vote-btn').each(function(item) {
		var self = this;
		var target = $(this).attr('href');
		$(this).data('target', target);

		$(this).attr('href', '#');
		$(this).click(function(e) {
			e.preventDefault();

			var jqxhr = $.getJSON($(self).data('target'), function(result) {
            if(result && result.error && result.code == 401) {
              $('#loginModal').modal('show');
              return;
            }

		        var vote_counter = $(self).parent().parent().find('span.vote-counter')
		        vote_counter.text(result.votes);

		        var element = $('<span class="vote-counter-info">'+result.diff+'</span>').appendTo(vote_counter);
		        element.focus();
		        element.toggleClass('show');
		        if(parseInt(result.diff) < 0) {
		          element.addClass('downvote');
		        }

		        setTimeout(function() {
		          element.toggleClass('hide');
		          setTimeout(function() {
		            element.remove();
		          }, 300);
		        }, 500);

				$('#porte-monnaie').trigger('amount');
			}).fail(function() {
				
			});
		});
	});
});
{% endblock %}
