{% extends "base.html" %}

{% block title %}
Search
{% endblock %}

{% block page_header %}
<div class="col mx-auto wider-max">
  <h4 class="pt-3 pb-3">
   Search results for "{{ search }}"
  </h4>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row mx-auto wider-max">
  <div class="col-lg">
    {% if forums %}
    <div class="card mb-3">
      <div class="card-header">
        Communities
      </div>
      <div class="container-fluid">
        <div class="row">
          <ul class="list-group list-group-flush w-100">
          {% for entry in forums %}
          <li class="list-group-item"> 
            <div class="row">
              <div class="col-4 col-md-3">
                <span class="font-weight-bold">{{ entry.name_with_prefix }}</span><br>
                <span class="small">{{ entry.user_count }} Subscribers</span>
              </div>
              <div class="col-8 col-md-6 mb-2">
                <span class="small">{{ entry.description }}</span>
              </div>
              <div class="col-12 col-md-3">
                {% if not entry.current_user_subscribed %}
                <a href="{{ url_for('forum_subscribe', forum=entry.name) }}" class="btn btn-primary btn-block">Subscribe</a>
                {% endif %}
              </div>
            </div>
          </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="card" style="margin-bottom: 1em;">
      <ul class="list-group list-group-flush">
        {% for entry in object_list %}
        {% if entry.published %}
        <li class="list-group-item">  
          
            {#
              <div style="float: left; margin-left: -50px; width: 40px; text-align: center;">
                  <div>
                    <a class="vote-btn" href="{{ url_for('proposal_upvote', slug=entry.slug) }}"><i class="fas fa-arrow-alt-circle-up"></i></a>
                  </div>
                  <div><span class="vote-counter" style="font-size: 8pt;">{{ entry.votes }}</span></div>
                  <div>
                    <a class="vote-btn" href="{{ url_for('proposal_downvote', slug=entry.slug) }}"><i class="fas fa-arrow-alt-circle-down"></i></a>
                  </div>
              </div>
              #}

              <h5 class="mb-0">
                <a href="{{ url_for('detail', slug=entry.slug, forum=entry.forum.name) }}" class="text-dark">
                {{ entry.title }}
                </a>
              </h5>
              <h7 class="card-text text-muted" style="font-size: 8pt;">
                <span class="font-weight-bold text-dark">{{ entry.forum.name_with_prefix }}</span>
                • Posted by <a class="text-muted" href="{{ url_for('user_page', user=entry.author.username) }}">{{ entry.author.username_with_prefix }}</a>
                <span class="timeago">{{ entry.timestamp.strftime('%Y-%m-%d %H:%M') }}</span>
              </h7>
              

              <div class="card-text">
                <a class="small text-muted" href="{{ url_for('detail', slug=entry.slug, forum=entry.forum.name) }}#comments">
                  <i class="fas fa-comment-alt"></i>
                  {{ entry.comment_count }} Comments</a>
                  {# &nbsp;&nbsp; <i class="fas fa-share"></i> Share #}
              </div>

        </li>
        {% endif %}
        {% else %}
          <li class="list-group-item">No matches in any posts</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="col-md-4 lonely-column">
    {% include "side_footer.html" %}
  </div>
</div>

<div class="row">
  <div class="col-md">
    {% if pagination %}
    {% include "includes/pagination.html" %}
    {% endif %}
  </div>
</div>

</div><!-- end fluid -->



{% endblock %}

{% block js %}
$('document').ready(function() {
  $('a.vote-btn').each(function(item) {
    var self = this;
    var target = $(this).attr('href');
    $(this).data('target', target);

    $(this).attr('href', '#');
    $(this).click(function(e) {
      e.preventDefault();

      var jqxhr = $.get($(self).data('target'), function(result) {
        $(self).parent().parent().find('span.vote-counter').text(result);

        $('#porte-monnaie').trigger('amount');
      }).fail(function() {
        console.log("REQ failed");
      });
    });
  });
});
{% endblock %}
