{% extends "base.html" %}

{% block title %}
{% trans %}Search{% endtrans %}
{% endblock %}

{% block page_header %}
<div class="col mx-auto wider-max">
  <h3 class="pt-5 pb-5 my-2">
    <span class="semi-transparent">
      <span class="text-primary">{% trans %}Search results for{% endtrans %} "{{ search }}"</span>
    </span>
  </h3>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row mx-auto wider-max">
    <div class="col-lg">
      {% if communitys %}
      <div class="card mb-3">
        <div class="card-header">
          {% trans %}Communities{% endtrans %}
        </div>
        <div class="container-fluid">
          <div class="row">
            <ul class="list-group list-group-flush w-100">
            {% for entry in communitys %}
            <li class="list-group-item"> 
              <div class="row">
                <div class="col-4 col-md-3">
                  <span class="font-weight-bold">{{ entry.name_with_prefix }}</span><br>
                  <span class="small">{{ entry.user_count }} Subscribers</span>
                </div>
                <div class="col-8 col-md-6 mb-2">
                  <span class="small">{{ entry.description }}</span>
                </div>
                <div class="col-12 col-md-3">
                  {% if not entry.current_user_subscribed %}
                  <a href="{{ url_for('community_subscribe', community=entry.name) }}" class="btn btn-primary btn-block">Subscribe</a>
                  {% endif %}
                </div>
              </div>
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="card" style="margin-bottom: 1em;">
        {% include "includes/post-object-list.html" %}
      </div>
      {% include "includes/pagination.html" %}
    </div>
    <div class="col-lg-4 lonely-column">
      {% include "side_footer.html" %}
    </div>
  </div>

</div><!-- end fluid -->
{% endblock %}

