{% extends "base.html" %}

{% block title %}{% trans %}Create entry{% endtrans %}{% endblock %}

{% block extra_head %}
{% assets "css_easymde" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}

<style>
.tln-active, .tln-wrapper, .tln-line {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    vertical-align: middle;
    list-style: none;
}
.tln-active {
    display: inline-block;
    padding: 10px;
    width: calc(100% - 28px);
    height: 100%;
    font-size: 14px;
    line-height: 1.5;
    font-family: monospace;
    word-break: break-all;
    border: 1px solid #aeaeae;
    background-color: #fff;
    resize: none;
    overflow-wrap: normal;
    overflow-x: auto;
    white-space: pre;
}
.tln-wrapper {
    width: 28px;
    padding: 11px 5px 35px;
    height: 100%;
    word-break: break-all;
    overflow: hidden;
    display: inline-block;
    counter-reset: line;
}
.tln-line {
    width: 100%;
    display: block;
    text-align: right;
    line-height: 1.5;
    font-size: 14px;
    color: #aeaeae;
}
.tln-line::before {
    counter-increment: line;
    content: counter(line);
    font-size: 14px;
    user-select: none;
}
</style>

{% endblock %}

{% block extra_scripts %}
{% assets "js_easymde" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}


{% block content %}
<div class="container pt-3">
<div class="row">
  <div class="col-md-8">
    {% if entry %}
    <h5>{% trans %}Edit Post{% endtrans %}</h5>
    {% else %}
    <h5>{% trans %}Create a Post{% endtrans %}</h5>
    {% endif %}

    {% if community %}
    <form id="autocomplete" action="#" class="form-horizontal" method="post" data-id="{{ community.id }}">
    {% else %}
    <form id="autocomplete" action="#" class="form-horizontal" method="post">
    {% endif %}

    <div class="form-group" style="position: relative;">
        <select class="form-control" id="community-query" name="community-query" placeholder="Select a Community..." {% if entry and entry.slug %}disabled{% endif %}>
          {% if community %}
            <option value="{{ community.name_with_prefix }}" selected="selected">{{ community.name_with_prefix }}</option>
          {% endif %}
        </select>
    </div>
    </form>

    {% if entry and entry.slug %}
    <form id="new_post" action="{{ url_for('post_edit', slug=entry.slug) }}" class="form-horizontal" method="post" data-id="{{ community.id }}">
    {% elif community %}
    <form id="new_post" action="{{ url_for('submit', community=community.name) }}" class="form-horizontal" method="post" data-id="{{ community.id }}">
    {% else %}
    <form id="new_post" action="{{ url_for('submit') }}" class="form-horizontal" method="post">
    {% endif %}

    {% with errors = get_flashed_messages(category_filter=["error"]) %}
     {% if errors %}
      {%- for msg in errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor -%}
    {% endif %}
    {% endwith %}


    <div class="card mb-3">
      <div class="card-body">
          <input type="hidden" id="community" name="community" value="{{ community.name }}">
          {% if entry and entry.slug %}
          <input type="hidden" name="title" value="{{ entry.title }}">
          {% endif %}

          <div class="form-group">
            <input class="form-control" {% if not (entry and entry.slug) %}id="title" name="title"{% endif %} type="text" value="{{ entry.title }}" placeholder="Title" {% if entry and entry.slug %}disabled{% endif %}>
          </div>

          <div class="form-group">
            <textarea class="form-control" id="content" name="content" style="height: 300px;" placeholder="Text (optional)">{{ entry.content }}</textarea>
          </div>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" value="" id="use-internal-vote" {% if entry.vote_options %}checked="checked"{% endif %}>
              <label class="custom-control-label" for="use-internal-vote">
                {% trans %}Add voting{% endtrans %}
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" value="" name="use-positions" id="use-positions" {% if entry.usepositions %}checked="checked"{% endif %}>
              <label class="custom-control-label" for="use-positions">
                {% trans %}Use comments as positions{% endtrans %}
              </label>
            </div>
          </div>

          <div id="intVoteTaWrapper" class="d-none">
            <hr>
            <small id="intVoteHelp" class="form-text text-muted text-right">{% trans %}One option on each line.{% endtrans %}</small>
            <div class="form-group mb-0" style="height: 150px;">
              <textarea class="form-control" id="internalvote" name="internalvote" disabled="disabled">{{ entry.vote_options }}</textarea>
            </div>
            <small class="form-text text-danger text-right">{% trans %}Any future change to any of these lines will reset all the voting results for this post.{% endtrans %}</small>
          </div>

          <div class="form-group mt-5">
            <button class="btn btn-primary" type="submit">{% trans %}Publish{% endtrans %}</button>
          </div>

      </div>
    </div>

    </form>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header">
        <h6 class="card-title mb-0">Pnyx Rules</h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">1. Remember the human</li>
        <li class="list-group-item">2. Behave like you would in real life</li>
        <li class="list-group-item">3. Look for the original source of content</li>
        <li class="list-group-item">4. Search for duplicates before posting</li>
        <li class="list-group-item">5. Read the community’s rules</li>
      </ul>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block js %}

$(document).ready(function() {
  let updateLineNo = function(txta, element) {
      var lines = txta.val().split('\n').length,
          child_count = $(element).children().length,
          diff = lines - child_count;

      if(diff > 0) {
          while(diff > 0) {
              var line_number = $('<span></span>');
              line_number.addClass('tln-line');
              $(element).append(line_number);
              diff--;
          }
      } else if(diff < 0) {
          while(diff < 0) {
              $(element).find(':first-child').remove();
              diff++;
          }
      }
  }

  let activateLineNo = function(id) {
      var txta = $(id),
          ta = txta.get(0);

      if(txta == null || txta.hasClass("tln-active")) {
          return null;
      }

      txta.addClass('tln-active');
      txta.attr('style', '');

      var el = $('<div></div>');
      el.insertBefore(txta);
      el.addClass('tln-wrapper');

      updateLineNo(txta, el);

      ta.onpropertychange = ta.oninput = ta.onkeydown = ta.onkeyup = function(ta, el) {
          return function(e) {
              if((e.keyCode==36||e.which==36||e.code=="Home"||e.key=="Home")
              ||  e.keyCode==13||e.which==13||e.code=="Enter"
              ||  e.code=="NumpadEnter"||e.key=="Enter")
                  ta.scrollLeft = 0;
              updateLineNo(txta, el);
          }
      }(ta, el);

      ta.onchange = ta.onmousewheel = ta.onscroll = function(ta, el) {
          return function() {
            el.scrollTop(ta.scrollTop);
          }
      }(ta, el);
  }

  activateLineNo('#internalvote');

  var easyMDE = new EasyMDE({element: $('#content')[0]});

  $('#use-internal-vote').change(function(e) {
    e.preventDefault();

    if($(this).is(':checked')) {
      $('#intVoteTaWrapper').removeClass('d-none').find('textarea').removeAttr('disabled');
    } else {
      $('#intVoteTaWrapper').addClass('d-none').find('textarea').attr('disabled', 'disabled');
    }
  });

  $('#use-internal-vote').trigger('change');

  {% if not (entry and entry.slug) %}

  $('#community-query').select2({
    ajax: {
      url: "{{ url_for('community_search') }}",
      dataType: 'json',
      delay: 250,
      data: function (params) {
        var query = {
          q: params.term,
          s: 1,
        }
        return query;
      },
      processResults: function (data) {
        return {
          results: data.results
        };
      }
    }
  }).on('select2:select', function (e) {
    var data = e.params.data;
    $('#community').val(data.id);
  });

  {% endif %}

});
{% endblock %}